Repository refeyn/spsdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: venv/Scripts/black.exe
        language: system
        types_or: [python, jupyter]
      - id: isort
        name: isort
        entry: venv/Scripts/isort.exe --settings-file pyproject.toml
        files: ^(spsdk_refeyn)/
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: venv/Scripts/pylint.exe
        language: system
        types: [python]
        files: ^(spsdk_refeyn)/
      - id: mypy
        name: mypy
        entry: venv/Scripts/mypy.exe
        language: system
        types: [python]
        files: ^(spsdk_refeyn)/
        require_serial: true

Remove extra CI builds
  .github/workflows/python-ci.yml
Due: none

Ignore version changes in black
  .github/workflows/python-ci.yml
  pyproject.toml
Due: none

Remove deploy
  .github/workflows/deploy.yml
Due: none

Add dev scripts and run vulture
  dev/firmware_flashing.py
  dev/vulture_spsdk.py
  spsdk_refeyn/__version__.py
  spsdk_refeyn/utils/config.py
  spsdk_refeyn/utils/database.py
  spsdk_refeyn/utils/family.py
Due: black, isort, pylint, mypy

Change packaging version
  requirements.txt
Due: none

change filelock requirements
  requirements.txt
Due: none

Fix filelock version
  requirements.txt
Due: none

Add reset command
  spsdk_refeyn/mboot/mcuboot.py
Due: black, isort, pylint, mypy

Update script
  dev/firmware_flashing.py
Due: black

Re-add missing bits
  spsdk_refeyn/crypto/rng.py
  spsdk_refeyn/exceptions.py
  spsdk_refeyn/mboot/__init__.py
  spsdk_refeyn/mboot/commands.py
  spsdk_refeyn/mboot/error_codes.py
  spsdk_refeyn/mboot/interfaces/uart.py
  spsdk_refeyn/mboot/mcuboot.py
  spsdk_refeyn/mboot/memories.py
  spsdk_refeyn/mboot/properties.py
  spsdk_refeyn/mboot/protocol/base.py
  spsdk_refeyn/mboot/protocol/bulk_protocol.py
  spsdk_refeyn/mboot/protocol/serial_protocol.py
  spsdk_refeyn/sdp/__init__.py
  spsdk_refeyn/sdp/commands.py
  spsdk_refeyn/sdp/error_codes.py
  spsdk_refeyn/sdp/interfaces/__init__.py
  spsdk_refeyn/sdp/interfaces/usb.py
  spsdk_refeyn/sdp/protocol/base.py
  spsdk_refeyn/sdp/protocol/bulk_protocol.py
  spsdk_refeyn/sdp/protocol/serial_protocol.py
  spsdk_refeyn/sdp/sdp.py
  spsdk_refeyn/sdp/sdps.py
  spsdk_refeyn/utils/__init__.py
  spsdk_refeyn/utils/database.py
  spsdk_refeyn/utils/exceptions.py
  spsdk_refeyn/utils/family.py
  spsdk_refeyn/utils/interfaces/commands.py
  spsdk_refeyn/utils/interfaces/device/base.py
  spsdk_refeyn/utils/interfaces/device/serial_device.py
  spsdk_refeyn/utils/interfaces/device/usb_device.py
  spsdk_refeyn/utils/interfaces/protocol/protocol_base.py
  spsdk_refeyn/utils/misc.py
  spsdk_refeyn/utils/plugins.py
  spsdk_refeyn/utils/protocol/__init__.py
  spsdk_refeyn/utils/protocol/protocol_base.py
  spsdk_refeyn/utils/spsdk_enum.py
  spsdk_refeyn/utils/usbfilter.py
Due: black, isort, pylint, mypy

Increase bound on cryptography
  requirements.txt
Due: none

Update filelock
  requirements.txt
Due: none

Update CI Python version
  .github/workflows/python-ci.yml
Due: none

Debound some requirements, as we control them upstream
  requirements.txt
Due: none

Fix private import
  spsdk_refeyn/versioning.py
Due: black, isort, pylint, mypy

Fix typing errors
  spsdk_refeyn/utils/misc.py
Due: black, isort, pylint, mypy
